#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

#repos-list:hover {
  background-color: var(--white);
  cursor: pointer;
  transform: scale(1.1);
  font-size: 2rem;
}